@font-face {
	font-family: "Minipax";
	src: url("../assets/fonts/Minipax-master/fonts/ttf/Minipax-Regular.ttf");
	/* src: url("../assets/fonts/savate-regular.otf"); */
}

:root {
	--my-var: 250;
}

body {
	padding: 0;
	margin: 0;
	background-color: #e7e7e7;
	font-family: "Lato", sans-serif;
}

.red {
	color: red;
	animation: fadein 1s;
}

/* Navbar */
.navbar li {
	list-style: none;
	display: inline;
}

.navbar a {
	color: black;
	text-decoration: none;
	padding: 14px 16px;
	font-size: 0.9vmax;
}

.navbar a:hover {
	background-color: #d8d8d8;
}

img {
	margin-bottom: 2%;
	width: 500px;
	height: 250px;
}

.right-image img {
	float: right;
}

/* Canvas style */

#canvasContainer {
	display: none;
	animation: fadein 1s;
}

/* Container */

.container {
	/* display: grid; */
	justify-content: center;
	align-content: center;
	text-align: center;
	/* height: 100vh; */
	/* overflow: hidden; */
	/* background-color: #e7e7e7; */
}

.title {
	animation: fade-bg 15s ease-in-out;
	animation-delay: 0;
	animation-iteration-count: infinite;
	animation-direction: forward;
}

.result {
	/* animation: fadeout 1s ease-in-out; */
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.fadein-element {
	/* transition: 0.5s ease-in-out; */
	animation: fadein 1s ease-in-out;
	/* opacity: 1; */
}

.fadeout-element {
	/* transition: 0.5s ease-in-out; */
	/* opacity: 0; */
	animation: fadeout 1s ease-in-out;
}

/* Button */

.startButton {
	/* padding: 5%; */
	background-color: #e7e7e7;
	border: 0;
	/* border-bottom: 0.1px solid black; */
	font-family: "Lato", sans-serif;
	font-size: 1vmax;
	cursor: pointer;
}

.startButton:hover {
	text-decoration: line-through;
}

.endButton {
	margin: 0 0;
	display: none;
	padding: 5%;
	background-color: #e7e7e7;
	border: 0;
	/* border-bottom: 0.1px solid black; */
	font-family: "Lato", sans-serif;
	cursor: pointer;
}

.endButton:hover {
	text-decoration: line-through;
}

/* Paragraph Container */

.paragraph-container {
	font-family: "PT Sans", sans-serif;
	/* background-color: #d8d8d8; */
	padding: 2%;
	width: 100%;
	/* animation: scaleDiv 1s ease-in-out; */
	/* display: none; */
}

.paragraph-container div p {
	animation: fadein 1s;
}

.paragraph-container div button {
	animation: fadein 5s;
}

.paragraph-container div {
	margin-top: 2%;
}

.fadein-element {
	animation: fadein 5s;
}

/* Animations */

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-bg {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	51% {
		opacity: 0;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes scaleDiv {
	/* from {
		height: 0%;
	}
	to {
		transform: scaleY(1);
	} */

	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

/* Responsive design */

@media only screen and (min-width: 960px) {
	/* styles for browsers larger than 960px; */
}
